.App {
  text-align: center;
  background-image: url("https://image.freepik.com/free-photo/dice-yellow-background_127657-13663.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.home-container {
  text-align: justify;
}

.collection-container {
  text-align: justify
}

