.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.home-container {
  text-align: justify;
}

.collection-container {
  display: flex;
  flex-direction: column;
}

.button {
  padding-top: 1em;
  padding-bottom: 3rem;
}

.slide {
  padding-bottom: 1em;
}

