.App {
  text-align: center;
  background-color: #E2dccd;
}

.App-link {
  color: #61dafb;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.home-container {
  text-align: justify;
}

.button {
  padding-top: 1em;
  padding-bottom: 3rem;
}

.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  max-width: 40%;
}


.carousel-indicators li{
  background-color:black !important;
  position: relative !important;
  bottom: 1em !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color:black !important;
  border-radius: 100%;

  
}
